@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-250 {
    animation-delay: 0.25s;
  }  
}
@font-face {
  font-family: 'DeathStar';
  src: url(../assets/DeathStar/DeathStar.otf);
  font-style: normal;
}
@font-face {
  font-family: 'DeathStarOutlines';
  src: url(../assets/DeathStar/DeathStarOutlines.otf);
  font-style: normal;
}
@font-face {
  font-family: 'FlatBread';
  src: url(../assets/FlatBread/FlatBreadOutline.ttf);
  font-style: medium;
}
@font-face {
  font-family: 'BebasNeue';
  src: url(../assets/BebasNeue/BebasNeue-Regular.ttf);
  font-style: medium;
}
h1,h2,h3{
  font-family: DeathStarOutlines, sans-serif;
}
.outline-shadow{
  font-size: 3.125rem;
  letter-spacing: 0.06em;  
  color:transparent;
  position:relative;
  background-clip: text;
  background-color: #CEB7FF;
}

.border-shadow{
  stroke-width: 1px;
  stroke: #CEB7FF;
  filter: drop-shadow(0px 0px 4px #CEB7FF); 
}
textarea {
    resize: none;
}
textarea:focus-visible,
input:focus-visible{
  border:0;
  outline:0;
}
.text-special-shadow{
  text-shadow: 0px 0px 20px #B377FF;
}
:root{
  --swiper-pagination-bottom: 0;
  --swiper-pagination-color: #B377FF;
  --swiper-pagination-bullet-width:1.25rem;
  --swiper-pagination-bullet-height:1.25rem;
  --swiper-pagination-bullet-inactive-opacity:1;
}
.swiper-wrapper{
  flex-grow:1;
}
li+li{
  margin-top:0.5rem;
}
.box-shadow-custom {
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px,
              rgba(240, 46, 170, 0.3) 0px 10px,
              rgba(240, 46, 170, 0.2) 0px 15px,
              rgba(240, 46, 170, 0.1) 0px 20px,
              rgba(240, 46, 170, 0.05) 0px 25px;
}